<%= render "layouts/_header" %>
<%= bootstrap_form_for(Post.new, remote: true , layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6")do |form| %>
  <%= form.text_field :image_link, :placeholder => "Post image Url" %>
  <%= form.submit %>
<% end %>

<div class="container">
<h1>Posts</h1>
<ul>
  <%= render @posts %>
</ul>
</div>
